This problem was asked by Apple.

Suppose you have a multiplication table that is N by N. That is, a 2D array where the value at the i-th row and j-th column is (i + 1) * (j + 1) (if 0-indexed) or i * j (if 1-indexed).

Given integers N and X, write a function that returns the number of times X appears as a value in an N by N multiplication table.

For example, given N = 6 and X = 12, you should return 4, since the multiplication table looks like this:

| 1 | 2 | 3 | 4 | 5 | 6 |

| 2 | 4 | 6 | 8 | 10 | 12 |

| 3 | 6 | 9 | 12 | 15 | 18 |

| 4 | 8 | 12 | 16 | 20 | 24 |

| 5 | 10 | 15 | 20 | 25 | 30 |

| 6 | 12 | 18 | 24 | 30 | 36 |

And there are 4 12's in the table.

In [ ]:
## This feels like a variation of 2-sum problem, where we can scan or walk with some utilitity information on the side
from typing import List

def n_by_n_multi_table(n: int, x: int) -> int:
    count = 0
    for i in range(1, n + 1):
        #print(f"i: {i}, x: {x}")
        if i != 1 and x % i == 0:
            count += 1
    return count

In [11]:
# assert n_by_n_multi_table(6, 12) == 4, n_by_n_multi_table(6, 12)
# assert n_by_n_multi_table(10, 121) == 0
# assert n_by_n_multi_table(10, 49) == 1

assert n_by_n_multi_table(10, 25) == 10, n_by_n_multi_table(10, 25)

i: 1, x: 25
i: 2, x: 25
i: 3, x: 25
i: 4, x: 25
i: 5, x: 25
i: 6, x: 25
i: 7, x: 25
i: 8, x: 25
i: 9, x: 25
i: 10, x: 25
i: 1, x: 25
i: 2, x: 25
i: 3, x: 25
i: 4, x: 25
i: 5, x: 25
i: 6, x: 25
i: 7, x: 25
i: 8, x: 25
i: 9, x: 25
i: 10, x: 25

AssertionError: 1